<p id="notice"><%= notice %></p>
<div id="maincontent">
  <div class="container">
    <div class="row">
      <h1>Umpebc Kbarts</h1>
    </div>
    <div class="row">
      <div class="col">Name</div>
      <div class="col-1">Year</div>
      <div class="col-2">Updated</div>
      <div class="col-2">Verified</div>
      <div class="col-3">&nbsp;</div>
    </div>
    <div class="row">&nbsp;</div>
    <% @umpebc_kbarts.each do |umpebc_kbart| %>
    <div class="row">
      <div class="col"><%= umpebc_kbart.name %></div>
      <div class="col-1"><%= umpebc_kbart.year %></div>
      <div class="col-2"><%= umpebc_kbart.updated %></div>
      <div class="col-2"><%= umpebc_kbart.verified %></div>
      <div class="col-3">
        <div class="row">
          <div class="col"><%= link_to 'Destroy', umpebc_kbart, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        </div>
      </div>
    </div>
    <% end %>
    <div class="row">
      <div class="col">&nbsp<%= paginate @umpebc_kbarts %></div>
    </div>
  </div>
</div>
