<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @umpebc_kbart.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @umpebc_kbart.year %>
</p>

<p>
  <strong>Updated:</strong>
  <%= @umpebc_kbart.updated %>
</p>

<%= link_to 'Edit', edit_umpebc_kbart_path(@umpebc_kbart) %> |
<%= link_to 'Back', umpebc_kbarts_path %>
