<%= form_with(model: marc_record, local: true) do |form| %>
  <% if marc_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(marc_record.errors.count, "error") %> prohibited this marc_record from being saved:</h2>

      <ul>
      <% marc_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :folder %>
    <%= form.text_field :folder %>
  </div>

  <div class="field">
    <%= form.label :file %>
    <%= form.text_field :file %>
  </div>

  <div class="field">
    <%= form.label :doi %>
    <%= form.text_field :doi %>
  </div>

  <div class="field">
    <%= form.label :updated %>
    <%= form.datetime_select :updated %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
