<%= form_with(model: umpebc_file, local: true) do |form| %>
  <% if umpebc_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(umpebc_file.errors.count, "error") %> prohibited this umpebc_file from being saved:</h2>

      <ul>
      <% umpebc_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :checksum %>
    <%= form.text_field :checksum %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
