<%= form_with(model: lib_ptg_folder, local: true) do |form| %>
  <% if lib_ptg_folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lib_ptg_folder.errors.count, "error") %> prohibited this lib_ptg_folder from being saved:</h2>

      <ul>
      <% lib_ptg_folder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :flavor %>
    <%= form.text_field :flavor %>
  </div>

  <div class="field">
    <%= form.label :month %>
    <%= form.number_field :month %>
  </div>

  <div class="field">
    <%= form.label :touched %>
    <%= form.date_select :touched %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
