<p id="notice"><%= notice %></p>
<div id="maincontent">
  <div class="container">
    <div class="row">
      <h1>Lib Ptg Folders</h1>
    </div>
    <div class="row">
      <div class="col-1">ID</div>
      <div class="col">Name</div>
      <div class="col-1">Flavor</div>
      <div class="col-1">Month</div>
      <div class="col-2">Touched</div>
      <div class="col-3">
        <%= link_to 'New Lib Ptg Folder', new_lib_ptg_folder_path %>
      </div>
    </div>
    <% @lib_ptg_folders.each do |lib_ptg_folder| %>
      <div class="row">
        <div class="col-1"><%= lib_ptg_folder.id %></div>
        <div class="col"><%= lib_ptg_folder.name %></div>
        <div class="col-1"><%= lib_ptg_folder.flavor %></div>
        <div class="col-1"><%= lib_ptg_folder.month %></div>
        <div class="col-2"><%= lib_ptg_folder.touched %></div>
        <div class="col-3">
          <div class="row">
            <div class="col"><%= link_to 'Show', lib_ptg_folder %></div>
            <div class="col"><%= link_to 'Edit', edit_lib_ptg_folder_path(lib_ptg_folder) %></div>
            <div class="col"><%= link_to 'Destroy', lib_ptg_folder, method: :delete, data: { confirm: 'Are you sure?' } %></div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col">&nbsp<%= paginate @lib_ptg_folders %></div>
    </div>
  </div>
</div>
