<p id="notice"><%= notice %></p>
<div id="maincontent">
  <div class="container">
    <div class="row">
      <h1>Lib Ptg Folder</h1>
    </div>
    <div class="row">
      <div class="col-1"><em>ID</em></div>
      <div class="col"><%= @lib_ptg_folder.id %>&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-1"><em>Name</em></div>
      <div class="col"><%= @lib_ptg_folder.name %>&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-1"><em>Flavor</em></div>
      <div class="col"><%= @lib_ptg_folder.flavor %>&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-1"><em>Month</em></div>
      <div class="col"><%= @lib_ptg_folder.month %>&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-1"><em>Touched</em></div>
      <div class="col"><%= @lib_ptg_folder.touched %>&nbsp;</div>
    </div>
    <div class="row">
      <br/>
    </div>
    <div class="row">
      <%= link_to_if @lib_ptg_folder.update?, 'Edit', edit_lib_ptg_folder_path(@lib_ptg_folder) %>
      <span> | </span>
      <%= link_to 'Back', lib_ptg_folders_path %>
    </div>
    <div class="row">
      <br/>
    </div>
  </div>
</div>
