<p id="notice"><%= notice %></p>
<div id="maincontent">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Programs</h1>
        <%= form_with(url: 'programs/assemble_marc_files/run', method: :get, local: true) do %>
          <h2>Assemble MARC Files</h2>
          <div>
            <%= check_box_tag(:skip_catalog_sync) %>
            <%= label_tag(:skip_catalog_sync, "Skip Synchronize Cataloging MARC files") %>
          </div>
          <div>
            <%= check_box_tag(:reset_marc_records) %>
            <%= label_tag(:reset_marc_records, "Reload Cataloging MARC files") %>
          </div>
          <div>
            <%= check_box_tag(:reset_kbart_marcs) %>
            <%= label_tag(:reset_kbart_marcs, "Reload MARC files") %>
          </div>
          <div>
            <%= check_box_tag(:reset_kbart_files) %>
            <%= label_tag(:reset_kbart_files, "Reload KBART files") %>
          </div>
          <div>
            <%= check_box_tag(:reset_upload_checksums) %>
            <%= label_tag(:reset_upload_checksums, "Reset Upload Checksums") %>
          </div>
          <div>
            <%= check_box_tag(:create_marc_deltas) %>
            <%= label_tag(:create_marc_deltas, "Create MARC Deltas") %>
          </div>
          <div><%= submit_tag("Run") %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
