<p id="notice"><%= notice %></p>
<div id="maincontent">
  <div class="container">
    <p>
      <strong>Folder:</strong>
      <%= @catalog_marc.folder %>
    </p>

    <p>
      <strong>File:</strong>
      <%= @catalog_marc.file %>
    </p>

    <p>
      <strong>ISBN:</strong>
      <%= @catalog_marc.isbn %>
    </p>

    <p>
      <strong>Updated:</strong>
      <%= @catalog_marc.updated %>
    </p>

    <p>
      <strong>Content:</strong>
      <%= @catalog_marc.content %>
    </p>

    <p>
      <strong>Raw:</strong>
      <%= @catalog_marc.raw %>
    </p>

    <p>
      <strong>Count:</strong>
      <%= @catalog_marc.count %>
    </p>

    <p>
      <strong>MRC:</strong>
      <%= @catalog_marc.mrc %>
    </p>

    <p>
      <strong>Parsed:</strong>
      <%= @catalog_marc.parsed %>
    </p>

    <p>
      <strong>Replaced:</strong>
      <%= @catalog_marc.replaced %>
    </p>

    <p>
      <strong>DOI:</strong>
      <%= link_to @catalog_marc.doi, "https://doi.org/#{@catalog_marc.doi}" %>
    </p>

    <%= link_to 'Back', catalog_marcs_path %>
  </div>
</div>
