<%= form_with(model: uuid_identifier, local: true) do |form| %>
  <% if uuid_identifier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(uuid_identifier.errors.count, "error") %> prohibited this uuid_identifier from being saved:</h2>

      <ul>
      <% uuid_identifier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :uuid_id %>
    <%= form.text_field :uuid_id %>
  </div>

  <div class="field">
    <%= form.label :identifier_id %>
    <%= form.text_field :identifier_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
