<p id="notice"><%= notice %></p>

<h1>Uuid Identifiers</h1>

<table>
  <thead>
    <tr>
      <th>Uuid</th>
      <th>Identifier</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @uuid_identifiers.each do |uuid_identifier| %>
      <tr>
        <td><%= uuid_identifier.uuid.unpacked %></td>
        <td><%= uuid_identifier.identifier.name %></td>
        <td><%= link_to 'Show', uuid_identifier %></td>
        <td><%= link_to 'Edit', edit_uuid_identifier_path(uuid_identifier) %></td>
        <td><%= link_to 'Destroy', uuid_identifier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Uuid Identifier', new_uuid_identifier_path %>
