<p id="notice"><%= notice %></p>

<h1>Identifiers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @identifiers.each do |identifier| %>
      <tr>
        <td><%= identifier.name %></td>
        <td><%= link_to 'Show', identifier %></td>
        <td><%= link_to 'Edit', edit_identifier_path(identifier) %></td>
        <td><%= link_to 'Destroy', identifier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Identifier', new_identifier_path %>
