<p id="notice"><%= notice %></p>
<div id="maincontent">
  <div class="container">
    <div class="row">
      <h1>KBART MARCs</h1>
    </div>
    <form name="filter" method="get" action="<%= kbart_marcs_path %>">
      <% size = 6 %>
      <div class="row">
        <div class="col-1"><label for="folder_like">Folder</label></div>
        <div class="col-3"><input type="text" name="folder_like" value="<%= params[:folder_like] %>" size="<%= size * 5 %>" aria-label="folder_like"></div>
        <div class="col-1"><label for="file_like">File</label></div>
        <div class="col-3"><input type="text" name="file_like" value="<%= params[:file_like] %>" size="<%= size * 5 %>" aria-label="file_like"></div>
      </div>
      <div class="row">
        <div class="col-1"><label for="doi_like">DOI</label></div>
        <div class="col-3"><input type="text" name="doi_like" value="<%= params[:doi_like] %>" size="<%= size * 5 %>" aria-label="doi_like"></div>
        <div class="col-1"><label for="updated_like">Updated</label></div>
        <div class="col-3"><input type="text" name="updated_like" value="<%= params[:updated_like] %>" size="<%= size * 5 %>" aria-label="updated_like"></div>
        <div class="col-2">
          <button name="submit" type="submit" value="filter">Filter</button>
        </div>
        <div class="col-4">&nbsp;</div>
      </div>
    </form>
    <div class="row">&nbsp;</div>
    <% @kbart_marcs.each do |kbart_marc| %>
      <div class="row">
        <div class="col-4"><%= kbart_marc.folder %></div>
        <div class="col-4"><%= kbart_marc.file %></div>
      </div>
      <div class="row">
        <div class="col-4"><%= link_to kbart_marc.doi, "https://doi.org/#{kbart_marc.doi}", target: :_blank %></div>
        <div class="col-4"><%= kbart_marc.updated %></div>
        <div class="col-4"><%= link_to 'Destroy', kbart_marc, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    <% end %>
    <div class="row">
      <div class="col">&nbsp<%= paginate @kbart_marcs %></div>
    </div>
  </div>
</div>
