<p id="notice"><%= notice %></p>

<h1>Uuids</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Unpacked</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @uuids.each do |uuid| %>
      <tr>
        <td><%= uuid.id %></td>
        <td><%= uuid.unpacked %></td>
        <td><%= link_to 'Show', uuid %></td>
        <td><%= link_to 'Edit', edit_uuid_path(uuid) %></td>
        <td><%= link_to 'Destroy', uuid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Uuid', new_uuid_path %>
