<p id="notice"><%= notice %></p>
<div id="maincontent">
  <div class="container">
    <div class="row">
      <h1>UMPEBC MARCs</h1>
    </div>
    <form name="filter" method="get" action="<%= umpebc_marcs_path %>">
      <% size = 6 %>
      <div class="row">
        <div class="col-1"><label for="year_like">Year</label></div>
        <div class="col-5"><label for="doi_like">DOI</label></div>
        <div class="col-6">Updated</div>
      </div>
      <div class="row">
        <div class="col-1"><input type="text" name="year_like" value="<%= params[:year_like] %>" size="<%= size %>" aria-label="year_like"></div>
        <div class="col-5"><input type="text" name="doi_like" value="<%= params[:doi_like] %>" size="<%= size * 6 %>" aria-label="doi_like"></div>
        <div class="col-2">
          <button name="submit" type="submit" value="filter">Filter</button>
        </div>
        <div class="col-4">&nbsp;</div>
      </div>
    </form>
    <div class="row">&nbsp;</div>
    <% @umpebc_marcs.each do |umpebc_marc| %>
      <div class="row">
        <div class="col-1"><%= umpebc_marc.year %></div>
        <div class="col-5"><%= link_to umpebc_marc.doi, "https://doi.org/#{umpebc_marc.doi}", target: :_blank %></div>
        <div class="col-4"><%= umpebc_marc.updated_at %></div>
        <div class="col-2"><%= link_to 'Destroy', umpebc_marc, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    <% end %>
    <div class="row">
      <div class="col">&nbsp<%= paginate @umpebc_marcs %></div>
    </div>
  </div>
</div>
